/* /src/styles/Sidebar.css */
.sidebar {
    width: 200px;
    flex-shrink: 0;
    background-color: #017d84;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    top:0;
    left:0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    padding-right: 20px;
}

.sidebar ul li {
    width: 100%;
    padding: 10px;
    padding-right: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: #66fcf1;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 100%;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #45a29e; /* Highlight color for active or hovered link */
    color: white;
    border-radius: 5px; /* Rounds the edges within the bounds of the sidebar */
    text-align: center; /* Centers the text within the link */
}
